ekf_filter_node:
  ros__parameters:
    frequency: 100.0
    two_d_mode: true
    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # IMU 입력 설정
    imu0: /imu/data
    imu0_remove_gravitational_acceleration: true
    
    # [수정] 부호가 반대인 Orientation(Yaw)은 false로 꺼서 무시합니다.
    # 대신 각속도(Angular velocity)를 사용하되, 아래 '임시 조치'를 참고하세요.
    imu0_config: [false, false, false,
                  false, false, false, # Orientation 사용 안 함
                  false, false, false,
                  true,  true,  true,  # Angular velocity 사용
                  true,  true,  true]  # Linear acceleration 사용

    imu0_relative: true                # 켰을 때 정면을 0으로 설정
    imu0_queue_size: 10

    # GPS 입력
    odom0: /odometry/gps
    odom0_config: [true,  true,  false, 
                   false, false, false,
                   false, false, false,
                   false, false, false,
                   false, false, false]
    odom0_queue_size: 10

navsat_transform:
  ros__parameters:
    use_sim_time: true
    use_odometry_yaw: true           
    wait_for_datum: false            
    publish_filtered_gps: true
    yaw_offset: 0.0                 
    magnetic_declination_radians: 0.0 
    zero_altitude: true              
    
    gps_input_topic: /ublox_gps_node/fix
    imu_input_topic: /imu/data
    odom_input_topic: /odometry/filtered
