ekf_filter_node:
  ros__parameters:
    frequency: 100.0      # EKF 연산 주기
    two_d_mode: true
    publish_tf: true
    
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # [수정] 우리가 만든 필터링된 IMU 사용
    imu0: /imu/data
    imu0_remove_gravitational_acceleration: false # 우리 코드에서 이미 제거함
    
    # 설정 순서: [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    imu0_config: [false, false, false,
                  true,  true,  true,  # Orientation (Roll, Pitch, Yaw)
                  false, false, false,
                  true,  true,  true,  # Angular Velocity (회전 속도)
                  true,  true,  false] # Linear Acceleration (X, Y 가속도)

    imu0_relative: false   # 절대 각도(북쪽 기준) 사용
    imu0_queue_size: 10

    # GPS 기반 Odometry (navsat_transform 결과물)
    odom0: /odometry/gps
    odom0_config: [true,  true,  false, # X, Y 위치만 신뢰
                   false, false, false,
                   false, false, false,
                   false, false, false,
                   false, false, false]
    odom0_queue_size: 10